 *{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
  }

 

  .form-group {
	display: flex;
	align-items: center;
  }

  .form-group label {
	width: 120px;
	text-align: right;
	margin-right: 10px;
  }

  .form-group label.room-display {
	width: 120px;
	text-align: left;
	
  }

  .form-group input.room-display-input {
	width: 120px;
	align-items: left;
	margin-right: 0px;
  }

  .form-group input.room-display-input-email {
	width: 200px;
	align-items: left;
	margin-right: 0px;
  }

  .form-group input {
	width: 200px;
	color: rgb(1, 16, 1);
  }

  

  .form-group input:focus {
	color: rgb(1, 18, 8);
  }
  
  address { 
	display: block;
	font-style: italic;
  } 
  div.img-room {
	border: 1px solid #ddd;
	border-radius: 20px;
	padding: 5px;
	width: 20px;
  }

  body{
	font-family: montserrat;
	padding-bottom: 60px; 
  }
  
  label.logo{
	color: rgb(46, 150, 36);
	font-size: 35px;
	line-height: 80px;
	padding: 0 30px;
	font-weight: bold;
	
  }

  .login-box {
	margin-top: 20px;
	padding: 20px;
}
  
  a.active,a:hover{
	background: #a4ebbf;
	color: rgb(196, 43, 43);
	transition: .5s;
	text-decoration: none;
  }

  nav a.menulist{
	float: right;
	margin-right: 20px;
	color: rgb(20, 194, 90);
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
  }

  nav a.logout{

	float: left;
	margin-right: 20px;
	/* color: Black; */
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	
  }

  nav div ul.navbar-menu{
	float: left;
  }

  nav ul li .dropdown {
	background: #9ced9b;
	float: left;
	overflow: hidden;
  }
  
  nav ul li .dropdown .dropbtn {
	color: black;
	
  }
  
  nav ul li .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  nav ul li .dropdown-content {
	display: none;
	position: absolute;
	background-color: #a01d1d;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  nav ul li .dropdown-content a {
	float: none;
	color: rgb(20, 194, 90);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  nav ul li .dropdown-content a:hover {
	background-color: rgb(87, 229, 156);
  }
  
  nav ul li .dropdown:hover .dropdown-content {
	display: block;
	background-color: rgb(87, 229, 156);
  }

  .nav-dropdown-content {
	display: none;
	position: absolute;
	background-color: #71e895;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(57, 230, 155, 0.2);
	z-index: 1;
	border: none;
  }

  .nav-dropdown-content a {
	float: none;
	color: rgb(20, 194, 90);
	text-decoration: none;
	display: block;
	text-align: left;
	
  }
  
  .nav-dropdown-content a:hover {
	background-color: #54e698;
  }
  
  .dropdown:hover .nav-dropdown-content {
	display: block;
  }

  .one-plus-btn{
	float: right;
	 margin-left: 340px; 
  }
  .two-plus-btn{
	float: right;
	 margin-left: 145px; 
  }
  .three-plus-btn{
	float: right;
	 margin-left: 225px; 
  }
  


  .checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;

  }
  p{
	font-size: 16px;
  }
  .btn{
	font-size: 16px;
  }
  #check{
	display: none;
  }
  

  .footer {
	padding: 1px 1px;
	width: 100%;
	height:60px;
	position: fixed;
	/* position: fixed; */
	bottom: 0;
	left: 0;
	background-color: rgb(20, 194, 90);
	
	text-align: center;
  }
  

  
  
  
  label {
	display: inline-block;
	width: 150px;
	text-align: right;
	
}
img.room-image {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 500px;
  }
  
  img.room-image:hover {
	box-shadow: 0 0 2px 1px rgb(20, 194, 90);
  }

  .hotel-body{
	font-family: Verdana, sans-serif;
  font-size: 16px;
  }

  .hotel-head{
	font-family: Georgia, serif;
	font-size: 30px;  
	color: rgb(16, 192, 127);
  }

  .address-color{
	color: rgb(16, 192, 127);
  }

  .zoom {
	padding: 10px;
	transition: transform .2s;
	width: 10px;
	height: 10px;
	margin: 0 auto;
  }
  
  .zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
	width: 700px;
	height: 700px;
  }

  .offer-applied{
	color: #a01d1d;
  }

  .reviews{
	background-color: rgba(224, 240, 235, 0.884);
  }
  .borderless td, .borderless th {
    border: none;

}


.green-bordered-form {
	border: 1px solid green; /* Add green border around the entire form */
	padding: 10px; /* Add padding for better appearance */
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }

table.center {
	margin-left: auto; 
	margin-right: auto;
  }

  button.btnround{
	background-color: rgb(20, 194, 90);
  border: none;
  color: rgb(228, 240, 233);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  /* border-radius: 50%; */
  }
  button.btnround:hover{
	background-color: rgb(27, 69, 44);
	color: rgb(20, 194, 90);
  }

  button.savebtn{
	background-color: rgb(20, 194, 90);
  border: none;
  color: rgb(228, 240, 233);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  padding: 10px 24px
  }

  a.savebtn{
	background-color: rgb(20, 194, 90);
  border: none;
  color: rgb(228, 240, 233);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  padding: 10px 24px

  }

 

  button.acdnbtn{
  border: none;
  color: rgb(20, 194, 90);
  padding: 5px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  }

  button.acdnbtn:hover{
	color: rgb(83, 95, 148);
  }

  button.savebtn:hover{
	background-color: rgb(20, 194, 90);
	color: rgb(255, 255, 255);
  }

  button.button-booking{
	border-radius: 4px;
  background-color: #e0ece8;
  border: none;
  color: rgb(20, 194, 90);
  text-align: center;
  font-size: 1px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
   }

   button.button-booking span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  button.button-booking span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  button.button-booking:hover span {
	padding-right: 25px;
  }
  
  button.button-booking:hover span:after {
	opacity: 1;
	right: 0;
  }


  /*  code to cusuomer ratings*/
  .rating {
	display: flex;
	flex-direction: row-reverse;
	float:left
  }
  
  .rating > input{ display:none;}
  
  .rating > label {
	position: relative;
	  width: 1em;
	  font-size: 3vw;
	  color: #9bd7a8;
	  cursor: pointer;
  }
  .rating > label::before{ 
	content: "\2605";
	position: absolute;
	opacity: 0;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
	opacity: 1 !important;
  }
  
  .rating > input:checked ~ label:before{
	opacity:1;
  }

  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }

   /*  code to cusuomer clean*/
  .clean {
	display: flex;
	flex-direction: row-reverse;
	float:left
  }
  .clean > input{ display:none;}
  
  .clean > label {
	position: relative;
	  width: 1em;
	  font-size: 3vw;
	  color: #9bd7a8;
	  cursor: pointer;
  }
  .clean > label::before{ 
	content: "\2605";
	position: absolute;
	opacity: 0;
  }
  .clean > label:hover:before,
  .clean > label:hover ~ label:before {
	opacity: 1 !important;
  }
  
  .clean > input:checked ~ label:before{
	opacity:1;
  }
  .clean:hover > input:checked ~ label:before{ opacity: 0.4; }

  .star {
    color: green;
}

  /*  code to cusuomer food*/
  .food {
	display: flex;
	flex-direction: row-reverse;
	float:left
  }
  .food > input{ display:none;}
  
  .food > label {
	position: relative;
	  width: 1em;
	  font-size: 3vw;
	  color: #9bd7a8;
	  cursor: pointer;
  }
  .food > label::before{ 
	content: "\2605";
	position: absolute;
	opacity: 0;
  }
  .food > label:hover:before,
  .food > label:hover ~ label:before {
	opacity: 1 !important;
  }
  
  .food > input:checked ~ label:before{
	opacity:1;
  }
  .food:hover > input:checked ~ label:before{ opacity: 0.4; }


  /*  code to cusuomer staff*/
  .staff {
	display: flex;
	flex-direction: row-reverse;
	float:left
  }
  .staff > input{ display:none;}
  
  .staff > label {
	position: relative;
	  width: 1em;
	  font-size: 3vw;
	  color: #9bd7a8;
	  cursor: pointer;
  }
  .staff > label::before{ 
	content: "\2605";
	position: absolute;
	opacity: 0;
  }
  .staff > label:hover:before,
  .staff > label:hover ~ label:before {
	opacity: 1 !important;
  }
  
  .staff > input:checked ~ label:before{
	opacity:1;
  }
  .staff:hover > input:checked ~ label:before{ opacity: 0.4; }


    /*  code to cusuomer locality*/
	.locality {
		display: flex;
		flex-direction: row-reverse;
		float:left
	  }
	  .locality > input{ display:none;}
	  
	  .locality > label {
		position: relative;
		  width: 1em;
		  font-size: 3vw;
		  color: #9bd7a8;
		  cursor: pointer;
	  }
	  .locality > label::before{ 
		content: "\2605";
		position: absolute;
		opacity: 0;
	  }
	  .locality > label:hover:before,
	  .locality > label:hover ~ label:before {
		opacity: 1 !important;
	  }
	  
	  .locality > input:checked ~ label:before{
		opacity:1;
	  }
	  .locality:hover > input:checked ~ label:before{ opacity: 0.4; }

 /*  code to cusuomer bookingexp*/
 .bookingexp {
	display: flex;
	flex-direction: row-reverse;
	float:left
  }
  .bookingexp > input{ display:none;}
  
  .bookingexp > label {
	position: relative;
	  width: 1em;
	  font-size: 3vw;
	  color: #9bd7a8;
	  cursor: pointer;
  }
  .bookingexp > label::before{ 
	content: "\2605";
	position: absolute;
	opacity: 0;
  }
  .bookingexp > label:hover:before,
  .bookingexp > label:hover ~ label:before {
	opacity: 1 !important;
  }
  
  .bookingexp > input:checked ~ label:before{
	opacity:1;
  }
  .bookingexp:hover > input:checked ~ label:before{ opacity: 0.4; }

  .amenities-list {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding: 0;
    margin-top: 20px; /* Add some space between the heading and the amenities */
}

.amenities-list li {
    margin-right: 20px;
}

.amenity-icon {
    width: 50px; /* Adjust the size of the icons as needed */
    height: auto;
}

.amenity-name {
    display: block;
    text-align: center;
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 5px;
}

.hotel-head {
    margin-bottom: 20px; /* Add some space below the heading */
}


.hotel-head {
    margin-bottom: 20px; /* Add some space below the heading */
}


.image-container {
	width: 100%;
	height: 300px; /* Adjust this value to your preferred height */
	overflow: hidden;
}

.gallery-image {
	width: 100%;
	height: auto;
}
  
.image-container {
	width: 200%;
	height: 250px; /* Adjust this value to your preferred height */
	overflow: hidden;
	position: relative;
}

.gallery-image {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.gallery-image.active {
	opacity: 1;
}
  
/* .navigation-buttons {
	position: absolute;
	top: 10px;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
} */
   

  @media screen and (max-width: 950px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav{
		position: none;
	}
	nav ul li a{
		font-size: 16px;
	}
	.form-inline input {
		margin: 10px 0;
	  }
	  
	  .form-inline {
		flex-direction: column;
		align-items: stretch;
	  }
  } 

  @media screen and (max-width: 1050px){
 	.checkbtn{
		display: block;
	}
	nav{
		position: fixed;
	}

	ul{
		position: fixed;
		width: 100%;
		height: 1000vh;
		background: rgb(20, 194, 90);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;

	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color:  rgb(20, 194, 90) ;
	}
	#check:checked ~ ul{
		left: 0;
	}
	.form-inline input {
		margin: 10px 0;
	  }
	  
	  .form-inline {
		flex-direction: column;
		align-items: stretch;
	  }
  }

   